form {
  margin-top: 10%;
  display: flex;
  justify-content: center;
  font-size: 90px;
  color:orange;
}

input {
  font-size: 90px;
  border: none;
  border-bottom: 1px solid orange;
  width: 20%;
  text-align: center;
  color:orange;
  background-color: navy;
}

input:focus {
  outline: none;
}

.seconds {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 500px;
  text-align: center;
  font-size: 28px;
  color:orange;
}

.questionDiv {
  display: flex;
  justify-content: center;
}

.questionDiv h1 {
  color:orange;
}
